{
  "openapi": "3.1.0",
  "info": {
    "title": "Rotaract South Asia Analytics API",
    "version": "1.0.0",
    "description": "Public, high-performance REST API and Model Context Protocol (MCP) server providing open analytics data for Rotaract and Rotary across South Asia (Zones 4, 5, 6, and 7; 44 districts; 2,870+ clubs).\n\n### Model Context Protocol (MCP) Integration\nThis service includes a Model Context Protocol (MCP) server for direct use by AI assistants (Cursor, Claude Desktop, Antigravity, VS Code):\n- **Local Stdio Command:** `npm run mcp` or `node scripts/mcp_server.js`\n- **Remote HTTP Endpoint:** `POST https://insights.rsmda.org/api/mcp` (JSON-RPC 2.0)\n- **Available AI Tools (14 tools):** `get_summary`, `get_leaderboards`, `get_districts`, `get_district_insights`, `get_zone_summary`, `search_clubs`, `get_club_profile`, `get_new_clubs`, `find_compliance_risks`, `find_dual_risk_clubs`, `get_interact_analytics`, `find_rotary_opportunities`, `get_foundation_giving`, `get_worldwide_rankings`.\n\nAll endpoints are open, unauthenticated, and CORS-enabled.",
    "contact": {
      "name": "Rotaract South Asia Analytics Team",
      "url": "https://insights.rsmda.org"
    },
    "license": {
      "name": "Open Data Commons Open Database License (ODbL)",
      "url": "https://opendatacommons.org/licenses/odbl/"
    }
  },
  "servers": [
    {
      "url": "https://insights.rsmda.org",
      "description": "Production server (Primary)"
    },
    {
      "url": "https://insights.rsamdio.org",
      "description": "Production server (Netlify mirror)"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development server"
    }
  ],
  "tags": [
    {
      "name": "Overview",
      "description": "High-level aggregate metrics and executive summaries"
    },
    {
      "name": "Leaderboards",
      "description": "Rankings for largest clubs, top TRF donors, highest arrears, and district standings"
    },
    {
      "name": "Zones",
      "description": "Zone-level summaries and district breakdowns"
    },
    {
      "name": "Districts",
      "description": "District performance indicators and leadership rosters"
    },
    {
      "name": "Clubs",
      "description": "Master club roster search, filtering, and universal club dossiers"
    },
    {
      "name": "Compliance",
      "description": "Financial arrears and missing officer compliance tracking"
    },
    {
      "name": "Opportunities",
      "description": "Rotary club sponsorship opportunities (Rotaract and Interact)"
    },
    {
      "name": "Foundation",
      "description": "The Rotary Foundation (TRF) contributions and giving statistics"
    },
    {
      "name": "Worldwide",
      "description": "Global Rotaract and Interact leaderboards and growth metrics"
    },
    {
      "name": "Model Context Protocol (MCP)",
      "description": "AI agent tools discovery and JSON-RPC 2.0 execution endpoint"
    }
  ],
  "paths": {
    "/api/v1/summary": {
      "get": {
        "tags": [
          "Overview"
        ],
        "summary": "Executive Summary Metrics",
        "description": "Returns high-level aggregate KPI metrics for South Asia or scoped to a specific zone.",
        "operationId": "getSummary",
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": false,
            "description": "Optional zone filter (e.g. 'Zone 5' or '5')",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Executive summary data successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SummaryResponse"
                }
              }
            }
          },
          "404": {
            "description": "Zone not found"
          }
        }
      }
    },
    "/api/v1/leaderboards": {
      "get": {
        "tags": [
          "Leaderboards"
        ],
        "summary": "Ranked Leaderboards & Top Charts",
        "description": "Returns top rankings across South Asia for largest clubs (by membership), top TRF donors, highest arrears dues, and top districts. Supports optional filtering by district, zone, base, and category.",
        "operationId": "getLeaderboards",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Leaderboard category ('all', 'largest_clubs', 'community_clubs', 'university_clubs', 'trf_giving', 'highest_arrears', 'districts_by_clubs', 'districts_by_members', 'districts_by_trf', 'districts_by_arrears', 'districts_by_no_officers', 'new_clubs')",
            "schema": {
              "type": "string",
              "default": "all"
            }
          },
          {
            "name": "district",
            "in": "query",
            "required": false,
            "description": "Scope rankings to a specific 4-digit district (e.g. '3000')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zone",
            "in": "query",
            "required": false,
            "description": "Scope rankings to a specific zone (e.g. 'Zone 5' or '5')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Filter by base ('Community' or 'University')",
            "schema": {
              "type": "string",
              "enum": [
                "Community",
                "University"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of top records to return (1-50, default 10)",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ranked leaderboards data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/zones": {
      "get": {
        "tags": [
          "Zones"
        ],
        "summary": "List All Zones",
        "description": "Returns all 4 South Asia zones with high-level statistics and district lists.",
        "operationId": "getZones",
        "responses": {
          "200": {
            "description": "List of zones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "zones": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ZoneOverview"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/zones/{zoneId}": {
      "get": {
        "tags": [
          "Zones"
        ],
        "summary": "Zone Deep Dive",
        "description": "Returns detailed metrics, district breakdowns, and district leadership for a specific zone.",
        "operationId": "getZoneDetails",
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "required": true,
            "description": "Zone identifier (e.g. '4', '5', '6', '7', or 'Zone 5')",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Zone detail payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneDetail"
                }
              }
            }
          },
          "404": {
            "description": "Zone not found"
          }
        }
      }
    },
    "/api/v1/districts": {
      "get": {
        "tags": [
          "Districts"
        ],
        "summary": "List All Districts",
        "description": "Returns all 44 districts with key metrics and leadership contacts.",
        "operationId": "getDistricts",
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": false,
            "description": "Optional zone filter (e.g. 'Zone 4' or '4')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Sort field (totalClubs, members, arrearsClubs, outstanding, trf, newClubs, interactGrowth, district)",
            "schema": {
              "type": "string",
              "default": "district"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort order (asc, desc)",
            "schema": {
              "type": "string",
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of districts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "districts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DistrictSummary"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/districts/{districtId}": {
      "get": {
        "tags": [
          "Districts"
        ],
        "summary": "District Deep Dive",
        "description": "Returns full performance profile, leadership, and issue counts for a specific district.",
        "operationId": "getDistrictDetails",
        "parameters": [
          {
            "name": "districtId",
            "in": "path",
            "required": true,
            "description": "Rotary district number (e.g. '3000', '3141')",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "District detail payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistrictDetail"
                }
              }
            }
          },
          "404": {
            "description": "District not found"
          }
        }
      }
    },
    "/api/v1/clubs": {
      "get": {
        "tags": [
          "Clubs"
        ],
        "summary": "Search & Filter Clubs",
        "description": "Full-text search and multi-facet filtering across 2,870+ Rotaract clubs in South Asia.",
        "operationId": "searchClubs",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search keyword matching club name, club ID, sponsor club, or country",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "district",
            "in": "query",
            "required": false,
            "description": "Filter by district number (e.g. '3000')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zone",
            "in": "query",
            "required": false,
            "description": "Filter by RI zone (e.g. 'Zone 5')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Filter by base type ('Community' or 'University')",
            "schema": {
              "type": "string",
              "enum": [
                "Community",
                "University"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by club status ('Active' or 'Terminated')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isArrears",
            "in": "query",
            "required": false,
            "description": "Filter by financial arrears status",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "isAtRisk",
            "in": "query",
            "required": false,
            "description": "Filter by high termination risk status (>= $75 USD outstanding)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "isNoOfficers",
            "in": "query",
            "required": false,
            "description": "Filter by missing reported club officers status",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "isNewClub",
            "in": "query",
            "required": false,
            "description": "Filter newly chartered clubs",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Sort field ('members', 'outstanding', 'name', 'id', 'charterDate', 'district')",
            "schema": {
              "type": "string",
              "enum": [
                "members",
                "outstanding",
                "name",
                "id",
                "charterDate",
                "district"
              ]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort order ('desc' for largest/highest first, 'asc' for lowest/alphabetical)",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "minMembers",
            "in": "query",
            "required": false,
            "description": "Filter clubs with at least this many members",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxMembers",
            "in": "query",
            "required": false,
            "description": "Filter clubs with at most this many members",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "minOutstanding",
            "in": "query",
            "required": false,
            "description": "Filter clubs with outstanding dues in INR at least this amount",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of records to return (1-100, default 25)",
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Record offset for pagination (default 0)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of clubs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClubListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clubs/new": {
      "get": {
        "tags": [
          "Clubs"
        ],
        "summary": "Newly Chartered Clubs",
        "description": "Returns newly chartered Rotaract clubs in South Asia (126 clubs chartered in the current 2026 period) with charter dates, initial members, and sponsor Rotary clubs.",
        "operationId": "getNewClubs",
        "parameters": [
          {
            "name": "district",
            "in": "query",
            "required": false,
            "description": "Filter by district number (e.g. '3000')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zone",
            "in": "query",
            "required": false,
            "description": "Filter by RI zone (e.g. 'Zone 5')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Filter by base type ('Community' or 'University')",
            "schema": {
              "type": "string",
              "enum": [
                "Community",
                "University"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Sort field ('charterDate', 'members', 'name')",
            "schema": {
              "type": "string",
              "default": "charterDate"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort direction ('desc' or 'asc')",
            "schema": {
              "type": "string",
              "default": "desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of records to return (1-100, default 25)",
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Record offset for pagination (default 0)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of newly chartered clubs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewClubsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clubs/{clubId}": {
      "get": {
        "tags": [
          "Clubs"
        ],
        "summary": "Universal Club Dossier",
        "description": "Retrieves the complete profile, compliance standing, TRF contributions, and sponsored Interact clubs for a single Rotaract club.",
        "operationId": "getClubProfile",
        "parameters": [
          {
            "name": "clubId",
            "in": "path",
            "required": true,
            "description": "Unique Rotary Club ID (e.g. '8824847')",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Universal club dossier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClubProfile"
                }
              }
            }
          },
          "404": {
            "description": "Club not found"
          }
        }
      }
    },
    "/api/v1/compliance/arrears": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Clubs in Arrears",
        "description": "Retrieves Rotaract clubs with outstanding Rotary International dues and termination risk assessments.",
        "operationId": "getArrearsList",
        "parameters": [
          {
            "name": "district",
            "in": "query",
            "required": false,
            "description": "Filter by district number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zone",
            "in": "query",
            "required": false,
            "description": "Filter by zone",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "atRiskOnly",
            "in": "query",
            "required": false,
            "description": "Filter only clubs at immediate risk of termination (>= $75 USD)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Filter by base ('Community' or 'University')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of clubs in arrears",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArrearsListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/compliance/officers": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Clubs Missing Officers",
        "description": "Retrieves Rotaract clubs that have not reported active club officers on MyRotary.",
        "operationId": "getMissingOfficersList",
        "parameters": [
          {
            "name": "district",
            "in": "query",
            "required": false,
            "description": "Filter by district number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zone",
            "in": "query",
            "required": false,
            "description": "Filter by zone",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of clubs missing reported officers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MissingOfficersListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/opportunities/rotary": {
      "get": {
        "tags": [
          "Opportunities"
        ],
        "summary": "Rotary Sponsorship Opportunities",
        "description": "Identifies Rotary clubs without sponsored Rotaract clubs or without Interact clubs.",
        "operationId": "getRotaryOpportunities",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Type of opportunity: 'no_rotaract' (default) or 'no_interact'",
            "schema": {
              "type": "string",
              "enum": [
                "no_rotaract",
                "no_interact"
              ],
              "default": "no_rotaract"
            }
          },
          {
            "name": "district",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of Rotary opportunity clubs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RotaryOpportunityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trf": {
      "get": {
        "tags": [
          "Foundation"
        ],
        "summary": "The Rotary Foundation (TRF) Contributions",
        "description": "Retrieves giving statistics, Annual Fund contributions, and PolioPlus donations per club.",
        "operationId": "getTRFContributions",
        "parameters": [
          {
            "name": "district",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of TRF contributions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TRFListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/worldwide": {
      "get": {
        "tags": [
          "Worldwide"
        ],
        "summary": "Worldwide Rotaract & Interact Statistics",
        "description": "Global totals, country growth leaderboards, district rankings, and new club charter statistics. Supports sorting and filtering to find top-performing districts globally.",
        "operationId": "getWorldwideStats",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Focus dataset: 'summary', 'country', 'district', 'interact', 'new_clubs', or 'all'",
            "schema": {
              "type": "string",
              "enum": ["all", "summary", "country", "district", "interact", "new_clubs"],
              "default": "all"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Filter by country name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zone",
            "in": "query",
            "required": false,
            "description": "Filter by Rotary Zone (e.g. 6 or 'Zone 6')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Sort metric: 'member_growth_pct', 'member_growth_abs', 'members', 'clubs', 'club_growth_pct', or 'district'",
            "schema": {
              "type": "string",
              "enum": ["member_growth_pct", "member_growth_abs", "members", "clubs", "club_growth_pct", "club_growth_abs", "district"]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort order: 'desc' or 'asc'",
            "schema": {
              "type": "string",
              "enum": ["desc", "asc"],
              "default": "desc"
            }
          },
          {
            "name": "minMembers",
            "in": "query",
            "required": false,
            "description": "Minimum reported members filter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit number of records returned",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Worldwide statistics payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorldwideStats"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/openai-apps-challenge": {
      "get": {
        "tags": [
          "Overview"
        ],
        "summary": "OpenAI Apps Domain Verification Challenge",
        "description": "Returns the verification challenge token for registering MCP plugins on the OpenAI platform.",
        "operationId": "getOpenAiChallenge",
        "responses": {
          "200": {
            "description": "Plain text verification challenge token",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "ph1AUVZWlyHGibAi2SQ9ICgqLrdDfm_ffAy65gQ9kLo"
                }
              }
            }
          }
        }
      }
    },
    "/api/mcp": {
      "get": {
        "tags": [
          "Model Context Protocol (MCP)"
        ],
        "summary": "MCP Server Manifest & Tools Discovery",
        "description": "Returns the Model Context Protocol (MCP) server metadata, protocol version, capabilities, and the full schema definitions for all 14 available AI tools.",
        "operationId": "getMcpManifest",
        "responses": {
          "200": {
            "description": "MCP server manifest and tool definitions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "server": {
                      "type": "string",
                      "example": "rotaract-south-asia-analytics"
                    },
                    "version": {
                      "type": "string",
                      "example": "1.0.0"
                    },
                    "protocolVersion": {
                      "type": "string",
                      "example": "2024-11-05"
                    },
                    "capabilities": {
                      "type": "object"
                    },
                    "tools": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Model Context Protocol (MCP)"
        ],
        "summary": "Execute MCP Tool via JSON-RPC 2.0",
        "description": "Executes an AI tool via Model Context Protocol JSON-RPC 2.0 protocol (or lightweight payload: {\"tool\": \"search_clubs\", \"args\": {...}}). Supported methods: initialize, tools/list, and tools/call.",
        "operationId": "executeMcpTool",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "example": "tools/call"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "search_clubs"
                      },
                      "arguments": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool execution result wrapped in JSON-RPC 2.0",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/compliance/dual-risk": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Dual Risk Clubs (Arrears + Missing Officers)",
        "description": "Returns clubs that simultaneously have both outstanding financial arrears AND missing officer reports (highest aggregate compliance risk, 761 clubs).",
        "operationId": "getDualRiskList",
        "parameters": [
          {
            "name": "district",
            "in": "query",
            "required": false,
            "description": "Optional district number filter (e.g. 3000)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zone",
            "in": "query",
            "required": false,
            "description": "Optional zone filter (e.g. Zone 5)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Filter by country",
            "schema": {
              "type": "string",
              "enum": [
                "India",
                "Nepal",
                "Sri Lanka"
              ]
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Club base filter",
            "schema": {
              "type": "string",
              "enum": [
                "Community",
                "University"
              ]
            }
          },
          {
            "name": "minOutstanding",
            "in": "query",
            "required": false,
            "description": "Minimum outstanding balance in INR",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Sort field",
            "schema": {
              "type": "string",
              "enum": [
                "outstanding",
                "name",
                "district"
              ],
              "default": "outstanding"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort direction",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size limit",
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Page offset",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dual risk compliance list retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DualRiskResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/interact": {
      "get": {
        "tags": [
          "Overview"
        ],
        "summary": "Interact Analytics & Rotaract Sponsorships",
        "description": "Returns comprehensive Interact club analytics across South Asia: 8,921 total clubs, 735 suspended, 137 clubs sponsored by 65 Rotaract clubs, plus district/zone growth trends.",
        "operationId": "getInteractAnalytics",
        "parameters": [
          {
            "name": "district",
            "in": "query",
            "required": false,
            "description": "Optional district filter (e.g. 3000)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zone",
            "in": "query",
            "required": false,
            "description": "Optional zone filter (e.g. Zone 5)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Interact analytics successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InteractAnalyticsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/districts/{districtId}/clubs": {
      "get": {
        "tags": [
          "Districts"
        ],
        "summary": "District Clubs Roster",
        "description": "Lists all Rotaract clubs belonging to a specific district with filtering, sorting, and pagination.",
        "operationId": "getDistrictClubs",
        "parameters": [
          {
            "name": "districtId",
            "in": "path",
            "required": true,
            "description": "4-digit Rotary district number (e.g. 3000)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Club base",
            "schema": {
              "type": "string",
              "enum": [
                "Community",
                "University"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Club status",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Country filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Sort field",
            "schema": {
              "type": "string",
              "enum": [
                "members",
                "outstanding",
                "name",
                "charterDate"
              ]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort direction",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Page offset",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "District clubs retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClubListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/clubs/{clubId}/interact": {
      "get": {
        "tags": [
          "Clubs"
        ],
        "summary": "Club Sponsored Interact Clubs",
        "description": "Returns the list of Interact clubs directly sponsored by this Rotaract club.",
        "operationId": "getClubInteractSponsorships",
        "parameters": [
          {
            "name": "clubId",
            "in": "path",
            "required": true,
            "description": "Rotary Club ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sponsored Interact clubs retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClubInteractResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total matching records"
          },
          "limit": {
            "type": "integer",
            "description": "Records per page limit"
          },
          "offset": {
            "type": "integer",
            "description": "Record offset index"
          },
          "hasMore": {
            "type": "boolean",
            "description": "True if more records exist"
          }
        },
        "required": [
          "total",
          "limit",
          "offset",
          "hasMore"
        ]
      },
      "SummaryResponse": {
        "type": "object",
        "properties": {
          "dataAsOf": {
            "type": "string"
          },
          "overall": {
            "type": "object"
          },
          "previousOverall": {
            "type": "object",
            "nullable": true
          },
          "zonesSummary": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ZoneOverview": {
        "type": "object",
        "properties": {
          "zone": {
            "type": "string",
            "example": "Zone 5"
          },
          "zoneNumber": {
            "type": "integer",
            "example": 5
          },
          "stats": {
            "type": "object"
          },
          "districts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ZoneDetail": {
        "type": "object",
        "properties": {
          "zone": {
            "type": "string"
          },
          "zoneNumber": {
            "type": "integer"
          },
          "stats": {
            "type": "object"
          },
          "districts": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "DistrictSummary": {
        "type": "object",
        "properties": {
          "district": {
            "type": "string",
            "example": "3000"
          },
          "zone": {
            "type": "string",
            "example": "Zone 5"
          },
          "stats": {
            "type": "object"
          },
          "leadership": {
            "type": "object",
            "nullable": true,
            "properties": {
              "dg": {
                "type": "string"
              },
              "drr": {
                "type": "string"
              },
              "drc": {
                "type": "string"
              }
            }
          }
        }
      },
      "DistrictDetail": {
        "type": "object",
        "properties": {
          "district": {
            "type": "string"
          },
          "zone": {
            "type": "string"
          },
          "stats": {
            "type": "object"
          },
          "leadership": {
            "type": "object",
            "nullable": true
          },
          "counts": {
            "type": "object",
            "properties": {
              "totalClubs": {
                "type": "integer"
              },
              "arrearsClubs": {
                "type": "integer"
              },
              "noOfficersClubs": {
                "type": "integer"
              },
              "trfContributingClubs": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ClubSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "8824847"
          },
          "name": {
            "type": "string",
            "example": "Aarupadai Veedu Medical College & Hospital"
          },
          "district": {
            "type": "string",
            "example": "2981"
          },
          "zone": {
            "type": "string",
            "example": "Zone 5"
          },
          "base": {
            "type": "string",
            "example": "University"
          },
          "status": {
            "type": "string",
            "example": "Active"
          },
          "country": {
            "type": "string",
            "example": "India"
          },
          "sponsorClubs": {
            "type": "string",
            "example": "Pondicherry Beach Town (Rotary)"
          },
          "members": {
            "type": "integer",
            "example": 1
          },
          "isArrears": {
            "type": "boolean",
            "example": true
          },
          "outstandingINR": {
            "type": "number",
            "example": 2018
          },
          "outstandingUSD": {
            "type": "number",
            "example": 21.02
          },
          "isAtRisk": {
            "type": "boolean",
            "example": false
          },
          "isNoOfficers": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "ClubListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClubSummary"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "ClubProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "district": {
            "type": "string"
          },
          "zone": {
            "type": "string"
          },
          "base": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "sponsorClubs": {
            "type": "string"
          },
          "termReported": {
            "type": "string"
          },
          "members": {
            "type": "integer"
          },
          "isArrears": {
            "type": "boolean"
          },
          "outstanding": {
            "type": "number"
          },
          "isAtRisk": {
            "type": "boolean"
          },
          "isNoOfficers": {
            "type": "boolean"
          },
          "officerRole": {
            "type": "string"
          },
          "officerLastReported": {
            "type": "string"
          },
          "myRotaryAccount": {
            "type": "string"
          },
          "trfTotal": {
            "type": "number"
          },
          "trfAnnual": {
            "type": "number"
          },
          "trfPolio": {
            "type": "number"
          },
          "isNewClub": {
            "type": "boolean"
          },
          "sponsoredInteractClubs": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ArrearsClubItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "8824847"
          },
          "name": {
            "type": "string",
            "example": "Aarupadai Veedu Medical College & Hospital"
          },
          "district": {
            "type": "string",
            "example": "2981"
          },
          "zone": {
            "type": "string",
            "example": "Zone 5"
          },
          "base": {
            "type": "string",
            "example": "University"
          },
          "sponsorClubs": {
            "type": "string",
            "example": "Pondicherry Beach Town (Rotary)"
          },
          "billableMembers": {
            "type": "integer",
            "example": 1
          },
          "outstandingINR": {
            "type": "number",
            "example": 2018
          },
          "outstandingUSD": {
            "type": "number",
            "example": 21.02
          },
          "isAtRisk": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "ArrearsListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ArrearsClubItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "MissingOfficerClubItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "8824847"
          },
          "name": {
            "type": "string",
            "example": "Aarupadai Veedu Medical College & Hospital"
          },
          "district": {
            "type": "string",
            "example": "2981"
          },
          "zone": {
            "type": "string",
            "example": "Zone 5"
          },
          "base": {
            "type": "string",
            "example": "University"
          },
          "sponsorClubs": {
            "type": "string",
            "example": "Pondicherry Beach Town (Rotary)"
          },
          "status": {
            "type": "string",
            "example": "Active"
          }
        }
      },
      "MissingOfficersListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MissingOfficerClubItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "RotaryOpportunityClubItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "22000"
          },
          "name": {
            "type": "string",
            "example": "Rotary Club of Madurai West"
          },
          "district": {
            "type": "string",
            "example": "3000"
          },
          "zone": {
            "type": "string",
            "example": "Zone 5"
          },
          "members": {
            "type": "integer",
            "example": 45
          },
          "status": {
            "type": "string",
            "example": "Active"
          },
          "totalRotaractSponsored": {
            "type": "integer",
            "example": 0
          },
          "totalInteractSponsored": {
            "type": "integer",
            "example": 1
          }
        }
      },
      "RotaryOpportunityResponse": {
        "type": "object",
        "properties": {
          "opportunityType": {
            "type": "string",
            "example": "no_rotaract"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RotaryOpportunityClubItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "TRFContributionItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "91234"
          },
          "name": {
            "type": "string",
            "example": "Rotaract Club of Coimbatore Central"
          },
          "district": {
            "type": "string",
            "example": "3201"
          },
          "zone": {
            "type": "string",
            "example": "Zone 5"
          },
          "sponsorClubs": {
            "type": "string",
            "example": "Rotary Club of Coimbatore"
          },
          "annualFundUSD": {
            "type": "number",
            "example": 100
          },
          "polioPlusUSD": {
            "type": "number",
            "example": 50
          },
          "otherFundsUSD": {
            "type": "number",
            "example": 0
          },
          "totalContributionsUSD": {
            "type": "number",
            "example": 150
          }
        }
      },
      "TRFListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TRFContributionItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "WorldwideStats": {
        "type": "object",
        "properties": {
          "totalClubs": {
            "type": "integer",
            "example": 11453
          },
          "totalMembers": {
            "type": "integer",
            "example": 165430
          },
          "totalInteractClubs": {
            "type": "integer",
            "example": 14920
          },
          "countryData": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "districtData": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "zoneData": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "LeaderboardsResponse": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "example": "largest_clubs"
          },
          "count": {
            "type": "integer",
            "example": 10
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "largestClubs": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "topTRFClubs": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "highestArrearsClubs": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "topDistrictsByClubs": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "topDistrictsByMembers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "newClubs": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "NewClubItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "8828727"
          },
          "name": {
            "type": "string",
            "example": "Chinnamanur Kurinji Stars"
          },
          "district": {
            "type": "string",
            "example": "3000"
          },
          "zone": {
            "type": "string",
            "example": "Zone 5"
          },
          "base": {
            "type": "string",
            "example": "Community"
          },
          "charterDate": {
            "type": "string",
            "example": "07-Sep-2026"
          },
          "members": {
            "type": "integer",
            "example": 18
          },
          "sponsorClubs": {
            "type": "string",
            "example": "Chinnamanur (Rotary)"
          }
        }
      },
      "NewClubsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NewClubItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "total": {
            "type": "integer",
            "example": 126
          },
          "limit": {
            "type": "integer",
            "example": 25
          },
          "offset": {
            "type": "integer",
            "example": 0
          }
        }
      },
      "MCPManifest": {
        "type": "object",
        "properties": {
          "server": {
            "type": "string",
            "example": "rotaract-south-asia-analytics"
          },
          "version": {
            "type": "string",
            "example": "1.0.0"
          },
          "protocolVersion": {
            "type": "string",
            "example": "2024-11-05"
          },
          "capabilities": {
            "type": "object",
            "properties": {
              "tools": {
                "type": "object"
              },
              "resources": {
                "type": "object"
              },
              "prompts": {
                "type": "object"
              }
            }
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "resources": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "prompts": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "DualRiskResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClubSummary"
            }
          },
          "riskType": {
            "type": "string",
            "example": "dual_risk"
          },
          "description": {
            "type": "string"
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "InteractAnalyticsResponse": {
        "type": "object",
        "properties": {
          "scope": {
            "type": "object"
          },
          "overview": {
            "type": "object",
            "properties": {
              "totalInteractClubs": {
                "type": "integer",
                "example": 8921
              },
              "suspendedInteractClubs": {
                "type": "integer",
                "example": 735
              },
              "activeInteractClubs": {
                "type": "integer",
                "example": 8186
              },
              "rotaractClubsSponsoringInteractCount": {
                "type": "integer",
                "example": 65
              },
              "totalInteractClubsSponsoredByRotaract": {
                "type": "integer",
                "example": 137
              }
            }
          },
          "rotaractSponsors": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "districts": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ClubInteractResponse": {
        "type": "object",
        "properties": {
          "clubId": {
            "type": "string",
            "example": "8824847"
          },
          "clubName": {
            "type": "string"
          },
          "district": {
            "type": "string",
            "example": "3000"
          },
          "zone": {
            "type": "string",
            "example": "Zone 5"
          },
          "sponsoredInteractCount": {
            "type": "integer",
            "example": 2
          },
          "sponsoredInteractClubs": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      }
    }
  }
}