{
  "openapi": "3.1.0",
  "info": {
    "title": "Rotaract South Asia Analytics API",
    "version": "1.0.0",
    "description": "Public, high-performance REST API providing open analytics data for Rotaract and Rotary across South Asia (Zones 4, 5, 6, and 7; 44 districts; 2,870+ clubs). All endpoints are open and unauthenticated.",
    "contact": {
      "name": "Rotaract South Asia Analytics Team",
      "url": "https://data.rotaractsouthasia.org"
    },
    "license": {
      "name": "Open Data Commons Open Database License (ODbL)",
      "url": "https://opendatacommons.org/licenses/odbl/"
    }
  },
  "servers": [
    {
      "url": "https://data.rotaractsouthasia.org",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development server"
    }
  ],
  "tags": [
    { "name": "Overview", "description": "High-level aggregate metrics and executive summaries" },
    { "name": "Zones", "description": "Zone-level summaries and district breakdowns" },
    { "name": "Districts", "description": "District performance indicators and leadership rosters" },
    { "name": "Clubs", "description": "Master club roster search, filtering, and universal club dossiers" },
    { "name": "Compliance", "description": "Financial arrears and missing officer compliance tracking" },
    { "name": "Opportunities", "description": "Rotary club sponsorship opportunities (Rotaract and Interact)" },
    { "name": "Foundation", "description": "The Rotary Foundation (TRF) contributions and giving statistics" },
    { "name": "Worldwide", "description": "Global Rotaract and Interact leaderboards and growth metrics" }
  ],
  "paths": {
    "/api/v1/summary": {
      "get": {
        "tags": ["Overview"],
        "summary": "Executive Summary Metrics",
        "description": "Returns high-level aggregate KPI metrics for South Asia or scoped to a specific zone.",
        "operationId": "getSummary",
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": false,
            "description": "Optional zone filter (e.g. 'Zone 5' or '5')",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Executive summary data successfully retrieved",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SummaryResponse" }
              }
            }
          },
          "404": {
            "description": "Zone not found"
          }
        }
      }
    },
    "/api/v1/zones": {
      "get": {
        "tags": ["Zones"],
        "summary": "List All Zones",
        "description": "Returns all 4 South Asia zones with high-level statistics and district lists.",
        "operationId": "getZones",
        "responses": {
          "200": {
            "description": "List of zones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": { "type": "integer" },
                    "zones": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ZoneOverview" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/zones/{zoneId}": {
      "get": {
        "tags": ["Zones"],
        "summary": "Zone Deep Dive",
        "description": "Returns detailed metrics, district breakdowns, and district leadership for a specific zone.",
        "operationId": "getZoneDetails",
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "required": true,
            "description": "Zone identifier (e.g. '4', '5', '6', '7', or 'Zone 5')",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Zone detail payload",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ZoneDetail" }
              }
            }
          },
          "404": {
            "description": "Zone not found"
          }
        }
      }
    },
    "/api/v1/districts": {
      "get": {
        "tags": ["Districts"],
        "summary": "List All Districts",
        "description": "Returns all 44 districts with key metrics and leadership contacts.",
        "operationId": "getDistricts",
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": false,
            "description": "Optional zone filter (e.g. 'Zone 4' or '4')",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of districts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": { "type": "integer" },
                    "districts": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/DistrictSummary" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/districts/{districtId}": {
      "get": {
        "tags": ["Districts"],
        "summary": "District Deep Dive",
        "description": "Returns full performance profile, leadership, and issue counts for a specific district.",
        "operationId": "getDistrictDetails",
        "parameters": [
          {
            "name": "districtId",
            "in": "path",
            "required": true,
            "description": "Rotary district number (e.g. '3000', '3141')",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "District detail payload",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DistrictDetail" }
              }
            }
          },
          "404": {
            "description": "District not found"
          }
        }
      }
    },
    "/api/v1/clubs": {
      "get": {
        "tags": ["Clubs"],
        "summary": "Search & Filter Clubs",
        "description": "Full-text search and multi-facet filtering across 2,870+ Rotaract clubs in South Asia.",
        "operationId": "searchClubs",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search keyword matching club name, club ID, sponsor club, or country",
            "schema": { "type": "string" }
          },
          {
            "name": "district",
            "in": "query",
            "required": false,
            "description": "Filter by district number (e.g. '3000')",
            "schema": { "type": "string" }
          },
          {
            "name": "zone",
            "in": "query",
            "required": false,
            "description": "Filter by RI zone (e.g. 'Zone 5')",
            "schema": { "type": "string" }
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Filter by base type ('Community' or 'University')",
            "schema": { "type": "string", "enum": ["Community", "University"] }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by club status ('Active' or 'Terminated')",
            "schema": { "type": "string" }
          },
          {
            "name": "isArrears",
            "in": "query",
            "required": false,
            "description": "Filter by financial arrears status",
            "schema": { "type": "boolean" }
          },
          {
            "name": "isAtRisk",
            "in": "query",
            "required": false,
            "description": "Filter by high termination risk status (>= $75 USD outstanding)",
            "schema": { "type": "boolean" }
          },
          {
            "name": "isNoOfficers",
            "in": "query",
            "required": false,
            "description": "Filter by missing reported club officers status",
            "schema": { "type": "boolean" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of records to return (1-100, default 25)",
            "schema": { "type": "integer", "default": 25 }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Record offset for pagination (default 0)",
            "schema": { "type": "integer", "default": 0 }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of clubs",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ClubListResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/clubs/{clubId}": {
      "get": {
        "tags": ["Clubs"],
        "summary": "Universal Club Dossier",
        "description": "Retrieves the complete profile, compliance standing, TRF contributions, and sponsored Interact clubs for a single Rotaract club.",
        "operationId": "getClubProfile",
        "parameters": [
          {
            "name": "clubId",
            "in": "path",
            "required": true,
            "description": "Unique Rotary Club ID (e.g. '8824847')",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Universal club dossier",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ClubProfile" }
              }
            }
          },
          "404": {
            "description": "Club not found"
          }
        }
      }
    },
    "/api/v1/compliance/arrears": {
      "get": {
        "tags": ["Compliance"],
        "summary": "Clubs in Arrears",
        "description": "Retrieves Rotaract clubs with outstanding Rotary International dues and termination risk assessments.",
        "operationId": "getArrearsList",
        "parameters": [
          {
            "name": "district",
            "in": "query",
            "required": false,
            "description": "Filter by district number",
            "schema": { "type": "string" }
          },
          {
            "name": "zone",
            "in": "query",
            "required": false,
            "description": "Filter by zone",
            "schema": { "type": "string" }
          },
          {
            "name": "atRiskOnly",
            "in": "query",
            "required": false,
            "description": "Filter only clubs at immediate risk of termination (>= $75 USD)",
            "schema": { "type": "boolean" }
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Filter by base ('Community' or 'University')",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 25 }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 0 }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of clubs in arrears",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ArrearsListResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/compliance/officers": {
      "get": {
        "tags": ["Compliance"],
        "summary": "Clubs Missing Officers",
        "description": "Retrieves Rotaract clubs that have not reported active club officers on MyRotary.",
        "operationId": "getMissingOfficersList",
        "parameters": [
          {
            "name": "district",
            "in": "query",
            "required": false,
            "description": "Filter by district number",
            "schema": { "type": "string" }
          },
          {
            "name": "zone",
            "in": "query",
            "required": false,
            "description": "Filter by zone",
            "schema": { "type": "string" }
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 25 }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 0 }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of clubs missing reported officers",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MissingOfficersListResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/opportunities/rotary": {
      "get": {
        "tags": ["Opportunities"],
        "summary": "Rotary Sponsorship Opportunities",
        "description": "Identifies Rotary clubs without sponsored Rotaract clubs or without Interact clubs.",
        "operationId": "getRotaryOpportunities",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Type of opportunity: 'no_rotaract' (default) or 'no_interact'",
            "schema": { "type": "string", "enum": ["no_rotaract", "no_interact"], "default": "no_rotaract" }
          },
          {
            "name": "district",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "zone",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 25 }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 0 }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of Rotary opportunity clubs",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RotaryOpportunityResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/trf": {
      "get": {
        "tags": ["Foundation"],
        "summary": "The Rotary Foundation (TRF) Contributions",
        "description": "Retrieves giving statistics, Annual Fund contributions, and PolioPlus donations per club.",
        "operationId": "getTRFContributions",
        "parameters": [
          {
            "name": "district",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "zone",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 25 }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 0 }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of TRF contributions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TRFListResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/worldwide": {
      "get": {
        "tags": ["Worldwide"],
        "summary": "Worldwide Rotaract & Interact Statistics",
        "description": "Global totals, country growth leaderboards, district rankings, and new club charter statistics.",
        "operationId": "getWorldwideStats",
        "responses": {
          "200": {
            "description": "Worldwide statistics payload",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WorldwideStats" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total": { "type": "integer", "description": "Total matching records" },
          "limit": { "type": "integer", "description": "Records per page limit" },
          "offset": { "type": "integer", "description": "Record offset index" },
          "hasMore": { "type": "boolean", "description": "True if more records exist" }
        },
        "required": ["total", "limit", "offset", "hasMore"]
      },
      "SummaryResponse": {
        "type": "object",
        "properties": {
          "dataAsOf": { "type": "string" },
          "overall": { "type": "object" },
          "previousOverall": { "type": "object", "nullable": true },
          "zonesSummary": { "type": "array", "items": { "type": "object" } }
        }
      },
      "ZoneOverview": {
        "type": "object",
        "properties": {
          "zone": { "type": "string", "example": "Zone 5" },
          "zoneNumber": { "type": "integer", "example": 5 },
          "stats": { "type": "object" },
          "districts": { "type": "array", "items": { "type": "string" } }
        }
      },
      "ZoneDetail": {
        "type": "object",
        "properties": {
          "zone": { "type": "string" },
          "zoneNumber": { "type": "integer" },
          "stats": { "type": "object" },
          "districts": { "type": "array", "items": { "type": "object" } }
        }
      },
      "DistrictSummary": {
        "type": "object",
        "properties": {
          "district": { "type": "string", "example": "3000" },
          "zone": { "type": "string", "example": "Zone 5" },
          "stats": { "type": "object" },
          "leadership": {
            "type": "object",
            "nullable": true,
            "properties": {
              "dg": { "type": "string" },
              "drr": { "type": "string" },
              "drc": { "type": "string" }
            }
          }
        }
      },
      "DistrictDetail": {
        "type": "object",
        "properties": {
          "district": { "type": "string" },
          "zone": { "type": "string" },
          "stats": { "type": "object" },
          "leadership": { "type": "object", "nullable": true },
          "counts": {
            "type": "object",
            "properties": {
              "totalClubs": { "type": "integer" },
              "arrearsClubs": { "type": "integer" },
              "noOfficersClubs": { "type": "integer" },
              "trfContributingClubs": { "type": "integer" }
            }
          }
        }
      },
      "ClubSummary": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "8824847" },
          "name": { "type": "string", "example": "Aarupadai Veedu Medical College & Hospital" },
          "district": { "type": "string", "example": "2981" },
          "zone": { "type": "string", "example": "Zone 5" },
          "base": { "type": "string", "example": "University" },
          "status": { "type": "string", "example": "Active" },
          "country": { "type": "string", "example": "India" },
          "sponsorClubs": { "type": "string", "example": "Pondicherry Beach Town (Rotary)" },
          "members": { "type": "integer", "example": 1 },
          "isArrears": { "type": "boolean", "example": true },
          "outstandingINR": { "type": "number", "example": 2018 },
          "outstandingUSD": { "type": "number", "example": 21.02 },
          "isAtRisk": { "type": "boolean", "example": false },
          "isNoOfficers": { "type": "boolean", "example": true }
        }
      },
      "ClubListResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/ClubSummary" } },
          "pagination": { "$ref": "#/components/schemas/PaginationMeta" },
          "total": { "type": "integer" },
          "limit": { "type": "integer" },
          "offset": { "type": "integer" }
        }
      },
      "ClubProfile": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "district": { "type": "string" },
          "zone": { "type": "string" },
          "base": { "type": "string" },
          "status": { "type": "string" },
          "country": { "type": "string" },
          "sponsorClubs": { "type": "string" },
          "termReported": { "type": "string" },
          "members": { "type": "integer" },
          "isArrears": { "type": "boolean" },
          "outstanding": { "type": "number" },
          "isAtRisk": { "type": "boolean" },
          "isNoOfficers": { "type": "boolean" },
          "officerRole": { "type": "string" },
          "officerLastReported": { "type": "string" },
          "myRotaryAccount": { "type": "string" },
          "trfTotal": { "type": "number" },
          "trfAnnual": { "type": "number" },
          "trfPolio": { "type": "number" },
          "isNewClub": { "type": "boolean" },
          "sponsoredInteractClubs": { "type": "array", "items": { "type": "object" } }
        }
      },
      "ArrearsListResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "type": "object" } },
          "pagination": { "$ref": "#/components/schemas/PaginationMeta" },
          "total": { "type": "integer" },
          "limit": { "type": "integer" },
          "offset": { "type": "integer" }
        }
      },
      "MissingOfficersListResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "type": "object" } },
          "pagination": { "$ref": "#/components/schemas/PaginationMeta" },
          "total": { "type": "integer" },
          "limit": { "type": "integer" },
          "offset": { "type": "integer" }
        }
      },
      "RotaryOpportunityResponse": {
        "type": "object",
        "properties": {
          "opportunityType": { "type": "string", "example": "no_rotaract" },
          "data": { "type": "array", "items": { "type": "object" } },
          "pagination": { "$ref": "#/components/schemas/PaginationMeta" },
          "total": { "type": "integer" },
          "limit": { "type": "integer" },
          "offset": { "type": "integer" }
        }
      },
      "TRFListResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "type": "object" } },
          "pagination": { "$ref": "#/components/schemas/PaginationMeta" },
          "total": { "type": "integer" },
          "limit": { "type": "integer" },
          "offset": { "type": "integer" }
        }
      },
      "WorldwideStats": {
        "type": "object",
        "properties": {
          "totalClubs": { "type": "integer" },
          "totalMembers": { "type": "integer" },
          "totalInteractClubs": { "type": "integer" },
          "countryData": { "type": "array", "items": { "type": "object" } },
          "districtData": { "type": "array", "items": { "type": "object" } },
          "zoneData": { "type": "array", "items": { "type": "object" } }
        }
      }
    }
  }
}
